<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideias - casa criativa</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> 

</head>
<body id="page-ideas">

    <div id="container">
        <header>
            <a href="/">
            <img src="logo.png" alt="imagem da logo marca">
        </a>
            <nav>
                <li><a href="/">Início</a></li>
                <li><a href="#" onclick="onOff()">Nova Ideia</a></li>
            </nav>
        </header>
        <section id="title">
            <p>Em exibição</p>
            <h1>Ideias</h1>
        </section>
        <main>
            <section id="ideas">
                <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/2729/2729007.svg"
                     alt="Imagem de curso de programação">
                     <div class="content">
                        <h3>Cursos de programação</h3>
                        <p>Estudo</p>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nostrum nobis possimus maxime eveniet tenetur, hic, nihil aperiam magni quas dicta molestiae iusto quisquam vel odit est quo vero fuga?
                        </div>
                        <a href="#">Ir para a ideia</a>
                     </div>
                </div>
                <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/2729/2729005.svg"
                     alt="Imagem de exercícios">
                     <div class="content">
                        <h3>Exercícios</h3>
                        <p>Saúde</p>
                        <div class="description">
                           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat veniam consequatur ab architecto eos cum quis aliquam hic, quos maxime eligendi velit, fuga corrupti vel error. Similique id animi quisquam.
                        </div>
                        <a href="#">Ir para a ideia</a>
                     </div>
                </div>
                <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/1830/1830774.svg"
                     alt="Imagem de meditação">
                     <div class="content">
                        <h3>Meditação</h3>
                        <p>Mentalidade</p>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quo tempore recusandae dicta nihil eos explicabo commodi debitis maxime mollitia! Quae ea maiores vitae perferendis similique dolores id ratione dolor.
                        </div>
                        <a href="#">Ir para a ideia</a>
                     </div>
                </div>
                <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/2729/2729076.svg"
                     alt="Imagem de filme com a familia">
                     <div class="content">
                        <h3>Filme</h3>
                        <p>Diversão em família</p>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis fugit sunt magnam ut velit expedita ullam fugiat? Vel in natus quisquam, fugiat laudantium quo consectetur delectus laborum aut tempora ratione?
                        </div>
                        <a href="#">Ir para a ideia</a>
                     </div>
                </div>
        </section>
        </main>
        <footer>
            Com ❤ <a href="https://github.com/huduarte" target="_blank">Hudson Duarte</a>
        </footer>
    </div>

 <!-- Start Modal -->

 <div id="modal" class="hide">
    <div class="content">
        <h1>Nova Ideia</h1>

        <form action="">

            <div class="input-wrapper">
                <label for="title">Título da ideia</label>
                <input type="text" name="title">
            </div>
            
            <div class="input-wrapper">
                <label for="category">Categoria</label>
                <input type="text" name="category">
            </div>

            <div class="input-wrapper">
                <label for="image">Link da imagem</label>
                <input type="url" name="image">
            </div>

            <div class="input-wrapper">
                <label for="description">Digite uma descrição para essa ideia</label>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
            </div>


            <div class="input-wrapper">
                <label for="link">Link da Ideia</label>
                <input type="url" name="link">
            

                <a href=""  onclick="onOff()">Voltar</a>
                <button>Salvar</button>

            </div>
        </form>
    </div>
</div>

<!-- End Modal -->


<script src="scripts.js"></script> 

</body>
</html>